*{
  box-sizing: border-box;
  margin:0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body{
  background-image:url('../resources/background.jpg');
  margin:auto;
  width:60vw;
  /* DEBUG:  */
    height: 90vh;
}

header{
  width:100%;
  height: 20%;
  border: white solid 6px;
  margin-top:2%;
  /* DEBUG:
    background-color: red;
    height:20%;*/
}
#jumbotron{
  background-size: cover;
  width: 100%;
  height: 100%;
}
aside,footer,section{
  border-radius: 7px;
}
nav{
  width:100%;
  text-align: center;
  border-radius: 0 0 7px 7px;
  height:4%;
  background-color: grey;
  /* DEBUG: */
}

nav > span{
  font-size: 9px;
  color:white;
  margin:0 2% 0 0;
  position:relative;
  top:20%;
  font-weight: bolder;
}

nav > span:hover{
  cursor:pointer;
  text-decoration: underline;
}
aside{
  width:20%;
  margin:2% 0;
    /* DEBUG:  */

}

.left{
  background-color: white;
  float:left;
  margin-right: 5%;
  height:250px;
}
.right{
  margin-left: 5%;
  float:right;
}

 section{
   margin-top: 2%;
   float:left;
   width: 50%;
   /* DEBUG:  */
    height: 150px;
    background-color: blue;
 }

footer{
  text-align: center;
  font-size: 10px;
  width:100%;
  background-color: white;
  display:inline-block;
  /* DEBUG:  */
  height:11%;
}
footer > img{
  height:30%;
  width:5%;
  float:left;
  margin: 4% 0 0 22% ;
}


hr, footer > span{
  color: #9a9a9a;
}

.white {
  border-radius: 7px;
  background: white;
  margin-bottom: 10px;
}

.white > p{
  font-size: 10px;
  text-align: center;
  padding: 15px 15px;

}
.white > h3{
  padding:15px;
  font-size: 15px;
}
